/**
 * Link Component
 */

.c-link {
  background: linear-gradient(#f97e22 0%, #f3a233 100%);
  border-radius: 1.9rem;
  color: color(white);
  display: inline-block;
  padding: 0.55rem 5.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  @include iota-breakpoint(md) {
    padding: 0.55rem 7.5rem;
  }

  &:hover {
    background: linear-gradient(#f3a233 0%, #f97e22 100%);
  }

  &--small {
    padding: 0.6rem 2rem;
    &:hover {
      padding: 0.6rem 2rem;
    }
  }
}
