.c-cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &__button {
    align-items: center;
    background: rgb(255, 153, 0);
    border-radius: 2.2rem;
    color: color(white);
    display: flex;
    font-weight: bolder;
    height: 4.4rem;
    justify-content: center;
    padding: 0 1.6rem;
    text-align: center;
    text-decoration: none;
    width: 90%;

    @include iota-breakpoint(md) {
      padding: 0;
      width: 44.8rem;
    }
  }
}
