.c-footer,
.footer-container-wrapper {
  align-items: center;
  background-color: color(light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__group {
    display: flex;
    img {
      margin-right: 1.2rem;
    }
  }
}
