.c-hero {
  align-items: center;
  background-image: url("https://cdn2.hubspot.net/hubfs/1709048/Amirreiter/Homepage/hero-banner.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80rem;
  position: relative;
}
