/*
* Iota padding utility classes
* https://www.iotacss.com/docs/utilities/padding/
*/

$iota-utils-padding-namespace: "p";
$iota-utils-padding-top-name: "t";
$iota-utils-padding-right-name: "r";
$iota-utils-padding-bottom-name: "b";
$iota-utils-padding-left-name: "l";
$iota-utils-padding-vertical-name: "v";
$iota-utils-padding-horizontal-name: "h";

$iota-utils-padding-default: t b v;
$iota-utils-padding-extra: (
  null: $iota-global-gutter-default,
  std: (
    null: $iota-global-gutter-default,
    xs: 4rem,
    md: 6rem,
    lg: 8rem
  ),
  section: (
    null: $iota-global-gutter-default,
    xs: 4rem,
    md: 6rem,
    lg: 8rem
  ),
  5: 0.5rem,
  7: 0.7rem,
  10: 1rem,
  20: 2rem,
  24: 2.4rem,
  26: 2.6rem,
  40: 4rem,
  42: 4.2rem,
  45: 4.5rem,
  46: 4.6rem,
  54: 5.4rem,
  60: 6rem,
  62: 6.2rem,
  65: 6.5rem,
  75: 7.5rem,
  80: 8rem,
  92: 9.2rem,
  96: 9.6rem,
  100: 10rem,
  101: 10.8rem,
  120: 12rem,
  130: 13rem
);

$iota-utils-padding-res: true;
$iota-utils-padding-breakpoints: $iota-global-breakpoints;

@import "node_modules/iotacss/utilities/padding";
